* { margin:0; padding:0; box-sizing: border-box;}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    width: 100%;
    position: Fixed; /* holds bar in position */
    top: 0; /* position set to top of page */
    background-color: #0d6eff;
    color: white;
    padding: 1rem;
    backdrop-filter: blur(20px);

}
.page{
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: auto;
}
.navi-links{
    list-style: none; /* removes bullet points */
    display: flex;  /* flex display */
    gap: 1.8rem;    /* adds spacing between the list items */
    margin-right: 25px; 
}
.navi-links li a{
    position: relative;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: medium;
}
.navi-links li a:hover{
    color: black;
    text-shadow: 0 0 10px #0066fe;
}
body {
    font-family: 'Aptos', 'Calibri', sans-serif;
    background: white;
    color: black;
    padding-top: 100px;
}
main {
    width: 90%;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px;
}
main p{
    margin-bottom: 20px;
}
footer{
    align-items: center;
    padding: 2rem;
}
.reference-list {
    list-style: none; /* removes bullet points */
    padding: 0;
    margin: 0;
}
.reference {
    padding-left: 2em; /* Indent entire paragraph that has this class*/
    text-indent: -2em; /* Removes indent for first line */
    margin-bottom: 1em; /* creates extra space between each reference */
}
em {
    font-style: italic; /* anything inside an em tag will be italicized */
}
.concepts{
    margin: 20px;
    padding-left: 5px;
    font-size: 1rem;
    font-weight: 500;
}
ul li p::marker{
    color:#0d6eff;
    content: '✦';
    font-size: 1.25rem;
}
